:host {
  display: flex;
  padding-block: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 0.7rem;
  border: 0.1rem solid rgb(103, 87, 132);
  border-bottom-width: 0.2rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  transition: 300ms;
}

:host(.secondary) {
  background-color: white;
  color: #777b7f;
  border-color: #e2e8f0;
}

:host(.secondary):hover {
  color: var(--primary-color);
  border-color: rgb(103, 87, 132);
}

:host:hover {
  background-color: white;
  border-color: var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

:host:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: var(--primary-color);
  color: white;
}
