main {
  display: flex;
  height: 100dvh;
}

.logo_container {
  position: absolute;
  left: 2rem;
  top: 0rem;
  z-index: 20;
  display: block;
  padding-block: 2rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}

.option_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
  color: var(--secondary-ft-color);
  opacity: 0.8;
  transition: 300ms;
  font-size: 1rem;
  text-align: center;
}

.option_container > a:hover {
  opacity: 1 !important;
}

.option_container .logo_container--mobile {
  font-size: 1.5rem;
  opacity: 1;
}

.image_container {
  display: none;
  flex: 1;
  /* background-image: url('/images/bg.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.image_container .image__title {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, rgba(139, 124, 168, 0.4), rgba(139, 124, 168, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.image_container ul {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  color: white;
}

.image__title h3 {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  margin-block: 0;
}
.image__title p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  max-width: 40ch;
}

.content_container {
  flex-grow: 1;
  flex-basis: 40rem;
  padding-inline: 2rem;
  overflow-y: auto;
  padding-bottom: 2rem;
  position: relative;
}

.content__title {
  margin-block: 1.5rem;
}

.content__title h1 {
  margin: 0;
}

.content__title p {
  color: var(--secondary-ft-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  gap: 1.5rem;
}

.completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.completed h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.completed__icon {
  background-color: #e6e3ec;
  color: var(--primary-color);
  width: fit-content;
  border-radius: 10rem;
  padding: 1rem 1.2rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}

.completed > p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.completed__resend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1.5rem;
  gap: 0;
  background-color: #f8fafc;
  border-radius: 0.5rem;
}

.completed__resend button {
  font-weight: bold;
  color: var(--primary-color);
}

.completed__resend__title {
  color: var(--secondary-ft-color);
  margin: 0rem;
  font-size: 0.9rem;
}
.completed__resend__description {
  margin: 0rem;
  color: #94a3b8;
  font-size: 0.8rem;
  margin-block: 0.8rem 1.2rem;
}

.completed button {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
}

.completed lucide-icon {
  transform: translateY(0.2rem);
}

@media (min-width: 1000px) {
  .option_container {
    justify-content: flex-end;
  }

  .image_container {
    display: block;
  }

  .content__title {
    margin-block: 3rem 2.5rem;
  }
  .content_container {
    flex-grow: 0;
    padding-inline: 4rem;
  }

  .logo_container--mobile {
    display: none;
  }

  form {
    margin-bottom: 1.5rem;
  }
}
