:host {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-wrap: wrap;
}

header {
  background: #c1aee0 url(/images/home-header-bg.jpg);
  background-position: center right -3.5rem;
  background-repeat: no-repeat;
  background-size: 16rem;
  color: #4b3c67;
  border-radius: 0.8rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

header p {
  max-width: 50ch;
}
header h1 {
  max-width: 35ch;
}

header h1 span {
  text-transform: capitalize;
}

header > div {
  border-radius: 1rem;
  background-color: #dacfed;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #675784;
}

header > p {
  opacity: 0.8;
  line-height: 1.5rem;
}

.cards {
  gap: 2.5rem 1rem;
}

.cards,
.column-one {
  display: flex;
  flex-wrap: wrap;
}

.column-two,
.column-one {
  flex-wrap: wrap;
  flex-basis: 20rem;
  flex-grow: 1;
}

.column-two {
  position: relative;
  display: flex;
  flex-direction: column;
}

.column-one {
  position: relative;
  align-items: start;
  gap: 1rem;
}

.cards__title {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 1rem;
  transform: translateY(-130%);
  color: #1e293b;
  font-weight: 500;
}

@media (min-width: 800px) {
  .column-two {
    flex-basis: 25rem;
    flex-grow: 0;
  }

  .column-one__todo {
    position: relative;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
