:host {
  display: block;
  padding: 1rem;
}

header {
  background: #c1aee0;
  color: #4b3c67;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2dvh;
  padding: 1.5rem;
}

header h1 {
  margin-block: 0.3rem 0.2rem;
  max-width: 35ch;
  font-size: 1.5rem;
}

header h1 span {
  text-transform: capitalize;
}

header > div {
  border-radius: 1rem;
  background-color: #dacfed;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #675784;
}

header > p {
  opacity: 0.8;
  line-height: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 800px) {
  :host {
    height: 100dvh;
    max-height: 100dvh;
    overflow-y: hidden;
  }

  header {
    height: 20dvh;
    background: #c1aee0 url(/images/home-header-bg.jpg);
    background-position: center right -3.5rem;
    background-repeat: no-repeat;
    background-size: 16rem;
    border: 0.1rem solid var(--primary-color);
    border-bottom-width: 0.2rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .cards {
    gap: 1rem;
    height: 74dvh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10.5rem 1fr;
  }

  .card__todo {
    grid-column: span 2;
  }

  .card__calendar {
    grid-row: span 2;
  }
}
