@if (isCompleted()) {
  <div class="completed">
    <div class="completed__icon">
      <lucide-icon [img]="MESSAGE" size="50"></lucide-icon>
    </div>
    <h3>¡Casi listo!</h3>
    <p class="completed__description">
      Hemos enviado un enlace de confirmación a tu correo electrónico. Por favor,
      <b>verifica tu cuenta</b> para activar tu perfil y acceder a todos nuestros servicios.
    </p>
    <app-button>Verificar Código</app-button>
    <div class="completed__resend">
      <p class="completed__resend__title">¿No has recibido el correo electrónico?</p>
      <p class="completed__resend__description">Revisa tu carpeta de spam o correo no deseado.</p>
      <a routerLink="/authentication/resend">
        <lucide-icon [img]="RETRY" size="15"></lucide-icon>
        Reenviar correo de verificación
      </a>
    </div>
  </div>
} @else {
  <div class="content__title">
    <h1>Crea tu cuenta</h1>
    <p>Sé parte de la revolución nutricional y transforma la vida de tus pacientes con NutriPia.</p>
  </div>
  <form [formGroup]="form">
    <app-custom-input
      formControlName="firstname"
      label="Primer nombre"
      placeholder="ejem: Juan"
    ></app-custom-input>
    <app-custom-input
      formControlName="lastname"
      label="Primer apellido"
      placeholder="ejem: Perez"
    ></app-custom-input>
    <app-custom-input
      formControlName="email"
      label="Correo Electrónico"
      placeholder="ejem: cesar.andrade@correo.com"
    ></app-custom-input>
    <app-custom-input
      formControlName="birthDate"
      label="Fecha de nacimiento"
      type="date"
      placeholder="ejem: 2000-01-01"
    ></app-custom-input>
    <app-custom-input
      formControlName="rut"
      label="RUT"
      placeholder="ejem: 22.222.222-2"
    ></app-custom-input>
    <app-custom-input
      formControlName="password"
      type="password"
      label="Contraseña"
      placeholder="●●●●●●●●●●●●●●●●●●●●"
    ></app-custom-input>
    <app-custom-input
      formControlName="confirmPassword"
      label="Confirmar contraseña"
      type="password"
      placeholder="●●●●●●●●●●●●●●●●●●●●"
      placeholder="●●●●●●●●●●●●●●●●●●●●"
    ></app-custom-input>
    <app-custom-checkbox
      formControlName="acceptTerm"
      label="Acepto los Términos y Condiciones así como la Política de Privacidad."
    ></app-custom-checkbox>
  </form>
  <app-button [disable]="!form.valid" (click)="submit()">Crear Cuenta</app-button>
}
