div {
  display: flex;
  flex-direction: column;
  color: var(--primary-ft-color);
}

label {
  padding-left: 0.5rem;
}

input {
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  margin-block: 0.5rem;
  border: 0.1rem solid #e2e8f0;
}

input:focus {
  outline-color: var(--primary-color);
  outline-width: 0.1rem;
}

input::placeholder {
  color: #94a3b8;
}

.invalid {
  border-color: #cd5c5c;
}

small {
  padding-left: 1rem;
  color: #cd5c5c;
}
