<div>
  <label [for]="id()">{{ label() }}</label>
  <input
    [id]="id()"
    [type]="type()"
    [ngStyle]="customStyles()"
    (keydown.enter)="submit()"
    class="field__input"
    [class.invalid]="invalid() && !focus()"
    [placeholder]="placeholder()"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [value]="value"
  />
  @if (invalid() && !focus()) {
    <small>{{ errorMessage() }}</small>
  }
  <small>{{ errorMessage() }}</small>
</div>
