@if (isCodeWrong()) {
  <div class="icon icon--fail">
    <lucide-angular [img]="FAILURE_ICON" size="60"></lucide-angular>
  </div>
  <h2>Verificación fallida</h2>
  <p>
    Ocurrió un error inesperado durante el proceso. Por favor, asegúrate de estar usando el enlace
    enviado a tu <b>correo electrónico</b> y vuelve a intentarlo.
  </p>
} @else {
  <div class="icon">
    <lucide-angular [img]="OKAY_ICON" size="60"></lucide-angular>
  </div>
  <h2>¡Verificación exitosa!</h2>
  <p>
    Tu dirección de <b>correo electrónico</b> ha sido confirmada. Serás redirigido al panel de
    control en <b>{{ timeleft() }}</b> segundos.
  </p>
}
