:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.icon {
  padding: 1.5rem 1.5rem;
  border-radius: 20rem;
  width: fit-content;
  background-color: #e6e3ed;
  color: var(--primary-color);
  margin-bottom: 1rem;
  vertical-align: middle;
  line-height: 0;
}

.icon--fail {
  background-color: #fee3e7;
  color: #a8364b;
}

b {
  color: var(--primary-ft-color);
}
