<header>
  @if (isLoading()) {
    <div [style.width]="'50%'" [style.height]="'2rem'" class="skeleton-glowing"></div>
  } @else {
    <div class="content">
      <h3>{{ fullName() }}</h3>
      <div
        class="content__info"
        [style.backgroundColor]="statusIndicator().color.background"
        [style.color]="statusIndicator().color"
      >
        <lucide-angular size="18" [img]="statusIndicator().icon"></lucide-angular>
        <p>{{ statusIndicator().text }}</p>
      </div>
    </div>
  }

  <button app-button [isSecondary]="true" [style.height]="'2.5rem'" [style.paddingInline]="'0.8rem'" (click)="close()">
    <lucide-angular [img]="CLOSE_ICON" size="25"></lucide-angular>
  </button>
</header>
<div class="goals-diagnosis">
  @if (isLoading()) {
    <div [style.width]="'50%'" [style.height]="'5rem'" class="skeleton-glowing"></div>
  } @else {
    <div>
      <h4>diagnóstico clínico</h4>
      <ul>
        @for (diagnosis of data()?.diagnosisList; track $index) {
          <li>
            <app-chip-item [color]="GetColorByIndex($index)">{{ diagnosis }}</app-chip-item>
          </li>
        } @empty {}
      </ul>
    </div>
    <div>
      <h4>objetivos</h4>
      <ul>
        @for (objective of data()?.objectiveList; track $index) {
          <li>
            <app-chip-item [color]="GetColorByIndex($index)">{{ objective }}</app-chip-item>
          </li>
        } @empty {}
      </ul>
    </div>
  }
</div>
@if (isLoading()) {
  <div [style.width]="'100%'" [style.minHeight]="'10rem'" class="skeleton-glowing"></div>
} @else {
  <div class="contact-appointment">
    <div>
      <h4>información de contacto</h4>
      <app-small-info-card
        [color]="GetColorByIndex(0)"
        [icon]="EMAIL_ICON"
        label="Correo Electrónico"
        value="mo@mo.cl"
      ></app-small-info-card>
      <app-small-info-card
        [color]="GetColorByIndex(0)"
        [icon]="PHONE_ICON"
        label="Teléfono"
        value="932421232"
      ></app-small-info-card>
    </div>
    <div>
      <h4>próxima cita</h4>
      <app-small-info-card
        [color]="GetColorByIndex(0)"
        [icon]="PAST_ICON"
        label="Ultima Consulta"
        [value]="parseToString(data()?.nextAppointment)"
      ></app-small-info-card>
      <app-small-info-card
        [color]="GetColorByIndex(2)"
        [icon]="FUTURE_ICON"
        label="Proxima Consulta"
        [value]="parseToString(data()?.previousAppointment)"
      ></app-small-info-card>
    </div>
  </div>
}
<div class="metrics">
  <app-metric-info-card
    title="estatura"
    [value]="data()?.height"
    [isLoading]="isLoading()"
    metric="cm"
  ></app-metric-info-card>
  <app-metric-info-card
    title="peso actual"
    [value]="data()?.weight"
    metric="kg"
    [isLoading]="isLoading()"
  ></app-metric-info-card>
  <app-metric-info-card
    [isLoading]="isLoading()"
    title="IMC"
    [value]="data()?.imc"
  ></app-metric-info-card>
  <app-metric-info-card
    [isLoading]="isLoading()"
    title="grasa corporal"
    [value]="data()?.bodyFatPercentage"
    metric="%"
  ></app-metric-info-card>
</div>
@if (!isLoading()) {
  <div class="actions">
    <button app-button>Nueva Medición</button>
    <button app-button [isSecondary]="true">
      <lucide-angular [img]="PLUS_ICON" size="20"></lucide-angular>
      <span> Editar Perfil </span>
    </button>
  </div>
}
