<h3>Detalles de Cliente</h3>
<div class="goals-diagnosis">
  <div>
    <h4>diagnóstico clínico</h4>
    <ul>
      @for (diagnosis of diagnosisList; track $index) {
        <li>
          <app-chip-item color="purple">{{ diagnosis }}</app-chip-item>
        </li>
      }
      <li>
        <button class="goals-diagnosis__add">
          <lucide-angular [img]="PLUS_ICON" size="15"></lucide-angular>Agregar
        </button>
      </li>
    </ul>
  </div>
  <div>
    <h4>objetivos</h4>
    <ul>
      @for (diagnosis of diagnosisList; track $index) {
        <li>
          <app-chip-item color="purple">{{ diagnosis }}</app-chip-item>
        </li>
      }
    </ul>
  </div>
</div>
<div class="metrics">
  <app-metric-info-card title="estatura" value="162" metric="cm"></app-metric-info-card>
  <app-metric-info-card title="peso actual" value="74" metric="kg"></app-metric-info-card>
  <app-metric-info-card title="IMC" value="23.2"></app-metric-info-card>
  <app-metric-info-card title="grasa corporal" value="23.2" metric="%"></app-metric-info-card>
</div>
