:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #e2e8f0;
  font-size: 1rem;
  gap: 1.5rem;
  overflow-y: auto;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #777b7f;
}

p {
  color: var(--secondary-ft-color);
  margin-top: 0.5rem;
}

.metrics {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.goals-diagnosis {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.goals-diagnosis div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.goals-diagnosis__add {
  display: flex;
  gap: 0.5rem;
  background-color: #dfe3e7;
  color: #777b7f;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #dfe3e7;
  font-weight: 500;
  transition: 300ms;
}

.goals-diagnosis__add:hover {
  border-color: #777b7f;
}

.contact-appointment {
  display: flex;
  padding: 1.5rem;
  background-color: #fbf9fe;
  border-radius: 0.5rem;
  border: 0.1rem solid #f4f1f8;
  justify-content: space-between;
  gap: 1rem;
}

.contact-appointment h4 {
  transform: translateX(5%);
}

.contact-appointment div {
  flex: 1;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
