<div class="content__title">
  <h1>Restablecer contraseña</h1>
  <p>
    Por tu seguridad, ingresa una nueva contraseña para mantener el acceso a tu cuenta de NutriPia.
  </p>
</div>
<form [formGroup]="form">
  <app-custom-input
    formControlName="password"
    type="password"
    label="Contraseña"
    placeholder="●●●●●●●●●●●●●●●●●●●●"
  ></app-custom-input>
  <app-custom-input
    formControlName="confirmPassword"
    label="Confirmar contraseña"
    type="password"
    placeholder="●●●●●●●●●●●●●●●●●●●●"
    placeholder="●●●●●●●●●●●●●●●●●●●●"
  ></app-custom-input>
</form>
<button app-button [style.width]="'100%'" [disabled]="!form.valid" (click)="submit()">
  Guardar Cambios
</button>
