@if (isCodeWrong()) {
  <div class="icon icon--error">
    <lucide-angular [img]="ERROR_ICON" size="50"></lucide-angular>
  </div>
  <div class="content__title content__title--error">
    <h1>No pudimos verificar tu solicitud</h1>
    <p>
      El enlace de recuperación no es válido o ya ha sido utilizado. No te preocupes, puedes generar
      uno nuevo para acceder a tu cuenta de NutriPia.
    </p>
  </div>
} @else {
  <div class="icon">
    <lucide-angular [img]="PASSWORD_ICON" size="50"></lucide-angular>
  </div>
  <div class="content__title">
    <h1>Restablecer contraseña</h1>
    <p>Ingresa una nueva contraseña para mantener el acceso a tu cuenta de NutriPia.</p>
  </div>
  <form [formGroup]="form">
    <app-custom-input
      formControlName="password"
      type="password"
      label="Contraseña"
      placeholder="●●●●●●●●●●●●●●●●●●●●"
    ></app-custom-input>
    <app-custom-input
      formControlName="confirmPassword"
      label="Confirmar contraseña"
      type="password"
      placeholder="●●●●●●●●●●●●●●●●●●●●"
      placeholder="●●●●●●●●●●●●●●●●●●●●"
    ></app-custom-input>
  </form>
  <button app-button [style.width]="'100%'" [disabled]="!form.valid" (click)="submit()">
    Guardar Cambios
  </button>
}
