.content__title {
  margin-block: 1.5rem;
}

.content__title h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.content__title p {
  color: var(--secondary-ft-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  gap: 1.5rem;
}

.completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.completed h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.completed__icon {
  background-color: #e6e3ec;
  color: var(--primary-color);
  width: fit-content;
  border-radius: 10rem;
  padding: 1rem 1.2rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}

.completed > p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.completed__resend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1.5rem;
  gap: 0;
  background-color: #f8fafc;
  border-radius: 0.5rem;
}

.completed__resend a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 0.5rem;
  color: var(--primary-color);
}

.completed__resend__title {
  color: var(--secondary-ft-color);
  margin: 0rem;
  font-size: 0.9rem;
}

.completed__description {
  color: var(--secondary-ft-color);
}

.completed__description b {
  color: var(--primary-ft-color);
}

.completed__resend__description {
  margin: 0rem;
  color: #94a3b8;
  font-size: 0.8rem;
  margin-block: 0.8rem 1.2rem;
}

.completed__resend a:hover {
  cursor: pointer;
}

.completed button {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
}

.completed lucide-icon {
  transform: translateY(0.2rem);
}

.icon {
  padding: 0.9rem 1rem;
  border-radius: 20rem;
  width: fit-content;
  background-color: #e6e3ed;
  color: var(--primary-color);
  margin-bottom: 1rem;
  margin-inline: auto;
  vertical-align: middle;
  line-height: 0;
}

.icon lucide-angular {
  transform: translateX(5%);
}

.icon--error {
  background-color: #fee3e7;
  color: #a8364b;
}

.icon--error lucide-angular {
  transform: translate(0%, -5%);
}

.content__title--error {
  text-align: center;
}

.icon--completed lucide-angular {
  transform: translate(0%, 0%);
}

.content__title--completed {
  text-align: center;
}

.content__title--completed h1 {
  margin-bottom: 0.5rem;
}

.content__title--completed button {
  margin-top: 1rem;
}

.content__title--error h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 1000px) {
  .content__title {
    margin-block: 1rem 2.5rem;
  }

  form {
    margin-bottom: 2rem;
  }
}
