div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
  animation: spin 1s linear infinite;
}

p {
  color: var(--secondary-ft-color);
  font-size: 1.1rem;
  margin-top: 1rem;
  font-weight: 550;
  animation: glowing 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
