<header>
  <div>
    <lucide-angular [img]="SEARCH_ICON" size="15"></lucide-angular>
    <input placeholder="Busqueda de cliente..." />
  </div>
  <button>
    <lucide-angular [img]="FILTER_ICON" size="15"></lucide-angular>
  </button>
</header>
<div class="content">
  <ul
    class="content__list"
    [style.flexGrow]="isSelected() ? '0' : '1'"
    [class.content__list--selected]="isSelected()"
  >
    @if (isLoading()) {
      @for (client of skeletonList; track $index) {
        <li>
          <app-resume-client-card [isLoading]="isLoading()"></app-resume-client-card>
        </li>
      }
    } @else {
      @for (client of clientList(); track client.id) {
        <li>
          <app-resume-client-card
            [isSelected]="selectedIndex() == $index"
            (onSelected)="select($index)"
            fullname="Elena Rodriguez"
            [age]="32"
            [status]="client.status"
            [isLoading]="isLoading()"
          ></app-resume-client-card>
        </li>
      }
    }
  </ul>
  @if (isSelected()) {
    <app-detailed-client-card
      animate.enter="content__details--enter"
      animate.leave="content__details--leave"
      [fullName]="getSelectedFullName()"
      [status]="getSelectedStatus()"
      [data]="selectedClientResume()"
      [isLoading]="isLoading()"
      (onClose)="removeSelection()"
      class="content__details"
    ></app-detailed-client-card>
  }
</div>
