<header>
  <div>
    <lucide-angular [img]="SEARCH_ICON" size="15"></lucide-angular>
    <input placeholder="Busqueda de cliente..." />
  </div>
  <button>
    <lucide-angular [img]="FILTER_ICON" size="15"></lucide-angular>
  </button>
</header>
<div class="content">
  <ul class="content__list" [style.flexGrow]="isSelected() ? '0' : '1'" [class.content__list--selected]="isSelected()">
    @if (isLoading()) {
      <li [style.width]="'100%'" [style.height]="'5rem'" class="skeleton-glowing"></li>
      <li [style.width]="'100%'" [style.height]="'5rem'" class="skeleton-glowing"></li>
      <li [style.width]="'100%'" [style.height]="'5rem'" class="skeleton-glowing"></li>
      <li [style.width]="'100%'" [style.height]="'5rem'" class="skeleton-glowing"></li>
    } @else {
      @for (client of clientList(); track client.id) {
        <li (click)="select($index)">
          <app-resume-client-card
            [isSelected]="selectedIndex() == $index"
            fullname="Elena Rodriguez"
            [age]="32"
          ></app-resume-client-card>
        </li>
      }
    }
  </ul>
  @if (isSelected()) {
    <app-detailed-client-card
      animate.enter="content__details--enter"
      animate.leave="content__details--leave"
      [fullName]="getSelectedFullName()"
      [status]="getSelectedStatus()"
      [data]="selectedClientResume()"
      [isLoading]="isLoading()"
      (onClose)="removeSelection()"
      class="content__details"
    ></app-detailed-client-card>
  }
</div>
