:host {
  display: flex;
  padding: 2dvh 1rem;
  flex-direction: column;
  gap: 2dvh;
  height: 100dvh;
}

header {
  display: flex;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #e2e8f0;
  border-bottom-width: 0.2rem;
  gap: 1rem;
  color: #6b7280;
  height: 10dvh;
  min-height: 3rem;
  max-height: 3.5rem;
}

header button {
  flex-grow: 0;
  flex-basis: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #f2f4f6;
  border-radius: 0.5rem;
  color: #6b7280;
  transition: 300ms;
}

header div {
  display: flex;
  gap: 1rem;
  flex: 1;
  font-size: 1rem;
  align-items: center;
  border: 0.1rem solid #f2f4f6;
  background-color: #f2f4f6;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  transition: 300ms;
}

header div:hover,
header div:focus,
header button:hover {
  border-color: #e2e8f0;
  cursor: pointer;
}

header input {
  border: none;
  background: none;
  width: 100%;
}

header input:focus {
  outline: none;
}

header input::placeholder,
header input {
  color: #6b7280;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 84dvh;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

.content__list--selected {
  display: none;
}

.content__list li {
  height: fit-content;
}

.content__list li {
  flex: 50%;
}

.content__details {
  transform-origin: bottom right;
}

.content__details--enter {
  animation: fade-and-scale-up 100ms;
}

.content__details--leave {
  animation: fade-and-scale-down 100ms;
}

@keyframes fade-and-scale-up {
  from {
    opacity: 0;
    transform: scale(0.1) translate(50%, 50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

@keyframes fade-and-scale-down {
  from {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate(50%, 50%);
  }
}

@media (min-width: 1000px) {
  header {
    padding: 0.6rem;
  }

  .content {
    flex-direction: row;
  }

  .content__list {
    display: flex;
    row-gap: 0.5rem;
    flex-basis: 25rem;
  }

  .content__list--selected {
    display: block;
  }

  .content__list li:not(:first-child) {
    margin-top: 1rem;
  }

  .content__list li:hover {
    cursor: pointer;
  }

  .content__details {
    flex: 1;
  }
}
