:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}

header {
  background-color: #C1AEE0;
  color: #4B3C67;
  border-radius: 0.8rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

header p, header h1 {
  max-width: 35ch;
}

header > div {
  border-radius: 1rem;
  background-color: #DACFED;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #675784;
}

header > p {
  opacity: 0.8;
  line-height: 1.5rem;
}

.metrics {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
}
