<header>
  <div class="date">
    <p>{{ date | date: 'EEEE, MMMM d' : '' : 'es-ES' | titlecase }}</p>
  </div>
  <h1>¡Qué bueno verte de nuevo, {{ firstname() }}!</h1>
  <p>
    Tienes 8 consultas programadas para hoy. 3 pacientes han alcanzado sus metas de macros esta
    semana.
  </p>
</header>
<div class="cards">
  <div class="column-one">
    <h3 class="cards__title">Resumen</h3>
    <app-metrics-card
      [icon]="USERS"
      iconBackground="#675784"
      iconColor="#FFF"
      [improvementPercentage]="+22"
      title="cantidad de clientes"
      [value]="10"
    ></app-metrics-card>
    <app-metrics-card
      [icon]="CALENDAR"
      iconColor="#673E59"
      iconBackground="#FFC7E9"
      [improvementPercentage]="-12"
      title="citas nutricionales"
      [value]="5"
    ></app-metrics-card>
    <div class="column-one__todo">
      <h3 class="cards__title">Tareas Prioritarias</h3>
      <app-todo-list [taskList]="[]"></app-todo-list>
    </div>
  </div>
  <div class="column-two">
    <h3 class="cards__title">Próxima Cita</h3>
    <app-calendar-card
      appointmentOwner="Juanete Perez"
      [appointment]="appointmentList[0]"
    ></app-calendar-card>
  </div>
</div>
