@if (isSended()) {
  <div class="container">
    <div class="content" [class.container--success]="isSended()">
      <div class="icon">
        <lucide-angular [img]="OKAY_ICON" size="40"></lucide-angular>
      </div>
      <p class="title">¡Código Enviado!</p>
      <p class="description">
        Revisa tu bandeja de entrada. Te enviamos un código para completar el proceso.
      </p>
    </div>
    <div class="actions">
      <button class="close" (click)="close()">Cerrar</button>
    </div>
  </div>
} @else {
  <div class="container">
    <div class="content">
      @switch (usage) {
        @case (USAGE_TYPE.VerifyEmail) {
          <p class="title">Confirmar Correo</p>
        }
        @case (USAGE_TYPE.ResetPassword) {
          <p class="title">Cambio de Contraseña</p>
        }
      }
      <p class="description">
        Asegúrese de que su dirección de correo electrónico sea correcta antes de solicitar un
        código de verificación.
      </p>
      <div class="input--wrapper">
        <label>DIRECCIÓN DE CORREO</label>
        <div [class.focus]="isFocus()" [class.invalid]="hasErrors" class="email-input">
          <lucide-angular [img]="EMAIL_ICON" size="20"></lucide-angular>
          <input
            [formControl]="emailControl"
            placeholder="ejem: cesar.andrade@correo.com"
            (focus)="setFocus(true)"
            (blur)="setFocus(false)"
            (keydown.enter)="submit()"
          />
        </div>

        @if (hasErrors) {
          <small>{{ error() }}</small>
        }
      </div>
    </div>
    <div class="actions">
      <button
        app-button
        [disabled]="!emailControl.valid"
        [style.padding-inline]="'1.5rem'"
        (click)="submit()"
      >
        Enviar codigo
      </button>
      <button class="close" (click)="close()">Cerrar</button>
    </div>
  </div>
}
