:host {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 0.8rem;
  overflow-y: auto;
  border: 0.1rem solid #e2e8f0;
  border-bottom-width: 0.2rem;
}

ul {
  height: 100%;
  overflow-y: auto;
}

li {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  align-items: center;
  column-gap: 1rem;
  padding: 0.8rem 1rem;
}

li:hover {
  cursor: pointer;
}

.check__indicator {
  display: flex;
  width: 1.7rem;
  height: 1.7rem;
  align-items: center;
  justify-items: center;
  border: 0.1rem solid #cbd5e1;
  border-radius: 10rem;
  transition: 300ms;
}

.check__indicator lucide-angular {
  transform: translate(15%, 5%);
}

.content__title {
  color: var(--primary-ft-color);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
  transition: 300ms;
}

.content__description {
  color: #64748b;
  font-weight: 300;
  font-size: 0.9rem;
}

.check {
  display: none;
}

.completed .check__indicator {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.completed .options {
  display: none;
}

.border-bottom {
  transition: 300ms;
  border-bottom: 0.1rem solid #f1f5f9;
}

.border-bottom:hover {
  border-color: #e2e8f0;
}

.completed .check {
  display: flex;
}

.completed .content__title {
  text-decoration: line-through;
  color: #64748b;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-ft-color);
}

.empty div {
  color: var(--secondary-ft-color);
  border: 0.1rem solid #e2e8f0;
  background-color: #f1f5f9;
  border-radius: 100rem;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
}
