:host {
  color: var(--primary-ft-color);
  background-color: #f2f4f6;
  border-radius: 0.8rem;
  border: 0.1rem solid #eaeaea;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 0.8rem;
  text-wrap: nowrap;
}

.icon {
  display: none;
  padding: 0.8rem;
  border-radius: 5rem;
}

.title {
  font-size: 0.9rem;
  font-weight: 400;
  color: #777b7f;
  margin-bottom: 0.1rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
  flex: 1;
  color: var(--primary-color);
}

@media (min-width: 500px) {
  :host {
    background: none;
    border: none;
  }

  .icon {
    display: block;
  }
  .description {
    align-items: start;
  }
}
