:host {
  background-color: white;
  color: var(--primary-ft-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
  border: 0.1rem solid #f4f1f8;
}

.icon {
  display: none;
  padding: 0.8rem;
  border-radius: 5rem;
}

.title {
  font-size: 0.9rem;
  font-weight: 300;
  color: #777b7f;
  margin-bottom: 0.1rem;
}

.value {
  font-weight: 500;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

@media (min-width: 500px) {
  :host {
    text-wrap: nowrap;
  }
  .icon {
    display: block;
  }
  .description {
    align-items: start;
  }
}
