:host {
  display: flex;
  padding: 2dvh 1rem;
  flex-direction: column;
  gap: 2dvh;
}

header {
  display: flex;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #e2e8f0;
  border-bottom-width: 0.2rem;
  gap: 1rem;
  color: #6b7280;
  height: 10dvh;
  min-height: 3rem;
  max-height: 3.5rem;
}

.filter {
  flex-grow: 0;
  flex-basis: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #f2f4f6;
  border-radius: 0.5rem;
  color: #6b7280;
  transition: 300ms;
}

header div {
  display: flex;
  gap: 1rem;
  flex: 1;
  font-size: 1rem;
  align-items: center;
  border: 0.1rem solid #f2f4f6;
  background-color: #f2f4f6;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  transition: 300ms;
}

header div:hover,
header div:focus,
header button:hover {
  border-color: #e2e8f0;
  cursor: pointer;
}

header input {
  border: none;
  background: none;
  width: 100%;
}

header input:focus {
  outline: none;
}

header input::placeholder,
header input {
  color: #6b7280;
}

header button:not(.filter) {
  padding-inline: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 84dvh;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  overflow-y: auto;
}

.content__list ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.content__list--selected {
  display: none;
}

.content__list li {
  flex-grow: 1;
  width: 100%;
}

.content__details {
  transform-origin: bottom right;
}

.content__details--enter {
  animation: slide-in 300ms;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1000px) {
  :host {
    height: 100dvh;
    overflow: hidden;
  }

  header {
    padding: 0.6rem;
  }

  .content {
    width: 100%;
    align-items: stretch;
    flex-direction: row;
    flex: 1;
  }

  .content__list ul {
    display: flex;
    gap: 1rem;
  }

  .content__details {
    flex: 1;
    min-width: 0;
  }
}

@media (min-width: 1200px) {
  .content__list {
    display: flex !important;
    flex-basis: 30rem;
  }
  .pagination {
    position: absolute;
    bottom: 1rem;
  }
}
